<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Coming Soon - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i"
    rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template -->
  <link href="css/coming-soon.min.css" rel="stylesheet">
  <script>
    function newRegister() {
      const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      const email = document.getElementById('email');
      if (!emailRegex.test(email.value)) {
        email.classList.add('is-invalid');
        return;
      }
      const body = JSON.stringify({ email: email.value });
      const req = {
        method: 'POST',
        body: body,
        headers: { 'Content-type': 'application/json' },
      };

      fetch('./register', req)
        .then(
          (res) =>
            (document.getElementById('form').innerHTML =
              '<div>Thank you for registering!<div>'),
        )
        .catch((err) => {
          email.classList.add('is-invalid');
        });
    }
  </script>
  <style>
    .register:hover {
      border: none;
      background-color: #e59e8d !important;
    }

    .register {
      border-color: none;
    }
  </style>
</head>

<body>

  {{{body}}}

</body>

</html>